<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <form action="/create-nft" method="post" >
        <h3>Create NFT Contract</h3>
        API Key: <input name="apiKey" type="text" /> <br/>
        NFT Name: <input name="nftName" type="text" /> <br/>
        NFT Symbol: <input name="nftSymbol" type="text" /> <br/>
        Chain Id: <input name="chainId" type="text" /> <br/>
        <input type="submit" />
    </form>

    <hr>

    <form action="/get-contracts" method="post">
        <h3>Show NFT Contracts</h3>
        API Key: <input name="apiKey" type="text" /> <br/>
        Chain Id: <input name="chainId" type="text" /> <br/>
        <input type="submit" />
    </form>

    <hr>

    <form action="/mint-nft" method="post" >
        <h3>Mint NFT</h1>
        API Key: <input name="apiKey" type="text" /> <br/>
        Chain Id: <input name="chainId" type="text" /> <br/>
        Contract: <input name="nftContract" type="text" /> <br/>
        NFT ID: <input name="nftId" type="text" /> <br/>
        NFT DATA: <input name="nftData" type="text" /> <br/>
        TO: <input name="to" type="text" /> <br/>
        <input type="submit" />
    </form>

    <hr>

    <h2>Results:</h2>
    <a target=”_blank” href={{transaction}}>{{ value }}</a>
    <ul> 
        {% for contract in contracts %} 
          <li><b>address:</b> {{ contract.address }} <br> <b>name:</b> {{ contract.name }} </li> 
        {% endfor %} 
    </ul> 

</body>
</html>